body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://media.istockphoto.com/id/860528958/photo/lake-tekapo-at-dawn-new-zealand-south-island.jpg?s=612x612&w=0&k=20&c=nSWN65Tvxy-1I-BZO7bfbBE08wdnTMoZkvh4DdRXOE4=");
    background-size: cover;
    overflow: hidden;
    /* background-repeat: no-repeat; */
}


h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;

}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;

}

.clock span {
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
}

.clock #amPm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
}

button {
    width: 90px;
    height: 40px;
    margin-top: 80px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    background: green;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}